gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Para google-services.json
android/app/google-services.json # <--- ¡Asegúrate que esta línea esté para no subirlo!
*.jks
*.keystore
*.properties